*{
    box-sizing:border-box
}




header{
display: flex;
background-color: rgb(152, 207, 152);
width: 200;
min-height: 70px;
margin: 3.5;
padding: 0.2px 0.5px;
    size-adjust: 5;
 }

header.logo{
    margin: 2.5;
    padding: 5px 10px;
    size: 2.5;


}
.logo img{
    width: 100px;
    height: 100px;
}

header.container{
    display: flex;
    flex-direction: column;
    align-items: none;

}

header nav{
    padding-top: -55px;
    padding: -10px;
    display: flex;
    flex-direction: column;
   text-align: right;
}

header a{
    padding: 10px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

header a:hover{
    color: rgb(26, 73, 26);
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

h1{font-size: 3em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
h4{font-size: 1.5em;}
p{font-size: 1.25em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 12px;
    border: 1px solid rgb(32, 34, 32);
    box-shadow: 2px 2px 10px rgb(24, 23, 23);
    color: white;
    background-color: rgb(69, 141, 69);
 }
 
 button:hover{
    background-color: rgb(26, 73, 26);

 }

 .container{
    max-width: 1400px;
    margin: auto;
 }

 

#home{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white; 
    background-image: url(/img/hero.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.enlace{
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    


}



#servicios{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}
 
#servicios.container{
    padding:150px 12px; 
}

#servicios h2{
    margin-top: 0;
    font-size: 3.1em;

}


.items:first-child{
    background-image: url(/img/imgs1.jpg);
    opacity: 20;
    color: black;
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
   
    
}
 
.items:nth-child(2){
    background-image: url(/img/imgs2.jpg);
    opacity: 20;
    color: black;
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.items:nth-child(3){
    background-image: url(/img/imgs3.jpg);
    opacity: 20;
    color: black;
    background-position: center center;
    background-size: cover;   
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.items:last-child{
    background-image: url(/img/imgs4.jpg);
    opacity: 20;
    color: black;
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;

}
 
#staff{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
    margin: auto;
    padding: 20px;
}
 
#staff.container{
    padding:150px 12px; 
}

#staff h2{
    margin-top: 0;
    font-size: 3.1em;
}

.info{
    display: flex;
    width: auto;
    align-items: center;
    text-align: center;
    background-image: url(/img/formu.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    font-size: 2.1em;
    margin-bottom: 20px;
    margin: auto;
    margin-top: 0;
    border-radius: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(7, 7, 7);

}

.controls{
    width: 80%;
    background:  rgb(26, 73, 26);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(25, 26, 25);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
 .info .botons{
    width: 25%;
    opacity: #000;
    border-radius: 4px;
    background-color:rgb(26, 73, 26); 
    border: none;
    padding: 10px;
    color: black;
    margin: 16px 0;
    font-size: 16px;
 }









footer{
    background-color: black;
    
}
footer.container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.logo2 img{
    width: 200px;
    height: 200px;
}

.content-foo{
    display: flex;
    margin: 10px;
    flex-direction: column;
    text-align: right;
    color: white;

}
.enlaces img{
    width: 40px;
    height: 40px;
   

}
p{
    margin: 0;
    padding: 12px;
    text-align: center;
}

