@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Merriweather:wght@300&family=Playfair+Display&display=swap');
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif 'Merriweather', serif,'Playfair Display', serif;
   font-size: 25px;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #719a67;
}

@media (max-width:600px) {

    body{
        background-color: #000;
    }
    
}

@media (min-width:600px) {

    body{
        background-color: rgb(91, 129, 91);
    }
    
}



h1{font-size: 2.7em;}
h2{font-size: 2.3em;}
h3{font-size: 1.9em;}
h4{font-size: 1.5em;}
p{font-size: 1.25em;}

body h1, h2, h3, h4, p{
    cursor:default
}

.header{

    background-color: #70876a;
    opacity: 0.9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

}
.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 90px;
    width: auto;
    transition: all 0.3s;

}
.header .logo img:hover{
    transform: scale(1.3);
}

.header .navbar{
    list-style: none;
}

.header .navbar li{
    display: inline-block;
    padding: 0 20px; 
}

.header .navbar li:hover,
.overlay a:hover{
    transform: scale(1.1);
}

.header .navbar a{
    font-size: 700;
    color: #000;
   
}
.header .navbar li a:hover{
    color: #ffffff;
}

.menu{
    display: none;
}

.header .btn button,
.header .menu button{
    margin-left: 20px;
    font-weight: 700;
    color: white;
    padding: 9px 25px;
    background: rgb(21, 85, 54) ;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

.header .btn button:hover,
.header .menu button:hover{
    background-color: #232a31;
    color: rgb(37, 140, 37);
   transform: scale(1.1);
}

@media screen and (max-width:800px){
    .navbar, .btn{
        display: none;
    }
    .menu{
        display: inherit;
    }
}
/*Nav*/

.header a{
    text-decoration: none;
}

.header .overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color:  #898989;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #112902;

}

.header .overlay a:hover,
.header .overlay a:focus{
    color: #101010;
}

.header .overlay .cerrar{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;

}

@media screen and (max-height:450px){
    .header .overlay a{
        font-size: 20px;
    }
    .header .overlay .cerrar{
        font-size: 40;
        top: 15px;
        right: 35px;
    }
    
}

button{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 12px;
    border: 1px solid rgb(32, 34, 32);
    box-shadow: 2px 2px 10px rgb(24, 23, 23);
    color: white;
    cursor: pointer;
    background-color: rgb(69, 141, 69);
 }
 
 button:hover{
    background-color: rgb(47, 70, 47);

 }

 .container{
    max-width: 1400px;
    margin: auto;
 }

 
#home{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white; 
    background-image: url(/img/hero.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
   
}


.enlace{
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    


}



#servicios{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}
 
#servicios.container{
    padding:150px 12px; 
}

#servicios h2{
    margin-top: 0;
    font-size: 3.1em;

}


.items:first-child{
    background-image: url(/img/imgs1.jpg);
    opacity: 20;
    color: black;
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
   
    
}
 
.items:nth-child(2){
    background-image: url(/img/imgs2.jpg);
    opacity: 20;
    color: black;
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.items:nth-child(3){
    background-image: url(/img/imgs3.jpg);
    opacity: 20;
    color: black;
    background-position: center center;
    background-size: cover;   
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.items:last-child{
    background-image: url(/img/imgs4.jpg);
    opacity: 20;
    color: black;
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;

}

.servicios{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    

}

.items{
    flex: 1 0 auto;
    margin: 0 50px;
    width: 300px;
    height: 500px;
    background-position: cover;
    background-size: cover
}
 
#staff{
    flex-wrap: ;
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
    margin: auto;
    padding: 20px;
}
 
#staff.container{
    padding:150px 12px; 
}


#staff h1{
    margin-top: 0;
    font-size: 3.1em;
}

.info{
    width: 400px;
    background: #36e70a;
    
   
}


.info{
    display: flex;
    width: auto;
    align-items: center;
    text-align: center;
    background-image: url(/img/formu.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    font-size: 2.1em;
    margin-bottom: 20px;
    margin: auto;
    margin-top: 0;
    border-radius: 4px;
    color: rgb(7, 7, 7);

}

.controls{
    box-sizing: border-box;
    width: 100%;
    background: #232a31;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #36e70a;
    font-size:small;
    font-size: small;
    color: white;
}
 .info .botons{
    width: 25%;
    opacity: #000;
    border-radius: 4px;
    background-color:rgb(26, 73, 26); 
    border: none;
    padding: 10px;
    color: black;
    margin: 16px 0;
    font-size: 16px;
 }

.link1{
    position: fixed;
    display: flex;
    bottom: 0;
    right: 0;
    margin-left: auto;
    border-radius: 30px;
    box-shadow: #000; 
   


}

.msj-content{
    position: fixed;
    top: 0;
    justify-content: flex-end;
    width: 60px;
    height: 60px;
    border: 1px soli;
    border-radius: 30%;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    cursor: pointer;
    box-shadow: #101010;
    background-position: center;
    background-size: cover;
    background-image: url(/img/link1.png);
    animation: desplazamiento 6s alternate infinite;

}

@keyframes desplazamiento{
    0%{height: 2;}
    100% {top:200px;}
}



footer{
    background-color: black;.
    padding: 80px 0;
    
}
.footer-row{
    display: flex;
    flex-wrap:wrap ;
}


.content-foo{
   width: 30%;
   text-align: center;
   padding: 0 15px;

}

.content-foo h4{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid rgb(64, 138, 64);
    padding-bottom: 10px;;
    display: inline-block;

}
.content-foo ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease ;
}

.content-foo ul li a:hover{
    color: #9dca81;
    padding-left: 6px;
}
.social-link img{
    width: 40px;
    height: 40px;

}

.social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    margin: 0 10px 10px 0 ;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all .5s ease;
}

@media (max-width:720px){
    .footer-row{
        text-align: center;
    }
    
    .content-foo{
        width: 100%;
        margin-bottom: 30px;
    }
}

p{
    margin: 0;
    padding: 12px;
    text-align: center;
}


